Optimize the Model

In [9]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [10]:
# Drop EIN column like in 1st part
application_df = application_df.drop(['EIN'],1)
application_df.head(2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1

In [11]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [12]:
# Determining value counts of STATUS column, can be dropped
application_df['STATUS'].value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [13]:
# Determining value counts of SPECIAL CONSIDERATIONS column, can be dropped
application_df['SPECIAL_CONSIDERATIONS'].value_counts()

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [8]:
# Dropping Status & Special Considerations since they're like yes/no true/false columns
application_df = application_df.drop(['STATUS', 'SPECIAL_CONSIDERATIONS'],1)
application_df.head(2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1

In [14]:
# Determine the number of unique values in each remaining column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [17]:
# NAME value counts for binning  
name_count = application_df['NAME'].value_counts()
print(name_count[name_count > 5])

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: NAME, Length: 354, dtype: int64

In [19]:
# Choose a cutoff value and create a list of names to be replaced
# use the variable name `names_to_replace`
names_to_replace = list(name_count[name_count <= 5].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")
    
# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: NAME, Length: 355, dtype: int64

In [22]:
# Look at APPLICATION_TYPE value counts for binning [from part 1]
application_count = application_df["APPLICATION_TYPE"].value_counts()
print(application_count)

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [23]:
# Repeating same process from part 1
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_count[application_count < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [24]:
# Look at CLASSIFICATION value counts for binning [part 1]
classification_count = application_df['CLASSIFICATION'].value_counts()
print(classification_count[classification_count > 1])

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [25]:
# Repeating the process from part 1 
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_count[classification_count < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [26]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies_df = pd.get_dummies(application_df)
application_dummies_df.head(1)

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [27]:
# Split our preprocessed data into our features and target arrays
X = application_dummies_df.drop(['IS_SUCCESSFUL'], axis='columns').values
y = application_dummies_df['IS_SUCCESSFUL'].values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [28]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [29]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
num_input_feats = len(X_train[0])
layer1_nodes = 100
layer2_nodes = 30
layer3_nodes = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer1_nodes, input_dim=num_input_feats, activation='relu')
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer2_nodes, input_dim=layer1_nodes, activation='relu')
)

# Third hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer3_nodes, input_dim=layer2_nodes, activation='relu')
)

# Output layer
nn.add(
    tf.keras.layers.Dense(units=1, input_dim=layer3_nodes, activation='sigmoid')
)

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               39900

 dense_1 (Dense)             (None, 30)                3030

 dense_2 (Dense)             (None, 10)                310

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 43,251
Trainable params: 43,251
Non-trainable params: 0
_________________________________________________________________

In [30]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer='adam', metrics=['accuracy'])

In [31]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs = 100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4695 - accuracy: 0.7769
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4332 - accuracy: 0.7919
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4297 - accuracy: 0.7925
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4263 - accuracy: 0.7945
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4257 - accuracy: 0.7948
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4240 - accuracy: 0.7946
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4233 - accuracy: 0.7956
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4224 - accuracy: 0.7947
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4216 - accuracy: 0.7972
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4208 - accuracy: 0.7974
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4205 - accuracy: 0.7965
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4196 - accuracy: 0.7979
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4193 - accuracy: 0.7978
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4188 - accuracy: 0.7981
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4186 - accuracy: 0.7981
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4178 - accuracy: 0.7987
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4173 - accuracy: 0.7984
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4166 - accuracy: 0.8000
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4158 - accuracy: 0.8003
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4158 - accuracy: 0.7989
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4153 - accuracy: 0.7995
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4154 - accuracy: 0.8007
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4144 - accuracy: 0.8005
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4145 - accuracy: 0.8005
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4141 - accuracy: 0.8019
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4135 - accuracy: 0.8026
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4127 - accuracy: 0.8029
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4128 - accuracy: 0.8024
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4125 - accuracy: 0.8025
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4121 - accuracy: 0.8028
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4122 - accuracy: 0.8016
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4121 - accuracy: 0.8031
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4111 - accuracy: 0.8020
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4111 - accuracy: 0.8029
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4112 - accuracy: 0.8020
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4107 - accuracy: 0.8030
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4110 - accuracy: 0.8027
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4103 - accuracy: 0.8038
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4098 - accuracy: 0.8041
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4095 - accuracy: 0.8021
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4101 - accuracy: 0.8025
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4090 - accuracy: 0.8038
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4092 - accuracy: 0.8038
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4083 - accuracy: 0.8037
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4083 - accuracy: 0.8044
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4081 - accuracy: 0.8037
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4083 - accuracy: 0.8044
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4073 - accuracy: 0.8044
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4077 - accuracy: 0.8042
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4076 - accuracy: 0.8065
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4067 - accuracy: 0.8054
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4074 - accuracy: 0.8051
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4069 - accuracy: 0.8064
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4061 - accuracy: 0.8053
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4063 - accuracy: 0.8058
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4062 - accuracy: 0.8061
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4063 - accuracy: 0.8057
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4055 - accuracy: 0.8059
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4063 - accuracy: 0.8056
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4058 - accuracy: 0.8054
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4051 - accuracy: 0.8059
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4051 - accuracy: 0.8060
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4055 - accuracy: 0.8057
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4051 - accuracy: 0.8068
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4056 - accuracy: 0.8057
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4048 - accuracy: 0.8066
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4047 - accuracy: 0.8060
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4046 - accuracy: 0.8068
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4038 - accuracy: 0.8062
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4045 - accuracy: 0.8069
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4042 - accuracy: 0.8057
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4043 - accuracy: 0.8055
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4038 - accuracy: 0.8067
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4043 - accuracy: 0.8069
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4035 - accuracy: 0.8069
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4034 - accuracy: 0.8062
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4034 - accuracy: 0.8071
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4032 - accuracy: 0.8065
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4029 - accuracy: 0.8073
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4035 - accuracy: 0.8071
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4031 - accuracy: 0.8067
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4033 - accuracy: 0.8074
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4034 - accuracy: 0.8067
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4035 - accuracy: 0.8076
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4034 - accuracy: 0.8067
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4029 - accuracy: 0.8059
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4028 - accuracy: 0.8068
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4026 - accuracy: 0.8076
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4026 - accuracy: 0.8071
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4024 - accuracy: 0.8073
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4023 - accuracy: 0.8077
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4027 - accuracy: 0.8075
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4017 - accuracy: 0.8075
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4023 - accuracy: 0.8071
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4018 - accuracy: 0.8076
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4018 - accuracy: 0.8075
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4014 - accuracy: 0.8070
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4018 - accuracy: 0.8066
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4017 - accuracy: 0.8073
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4020 - accuracy: 0.8074

In [32]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4926 - accuracy: 0.7928 - 529ms/epoch - 2ms/step
Loss: 0.49264025688171387, Accuracy: 0.7927696704864502

In [33]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")